* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 1040;
  background-color: white;
}

.noListStyle {
  position: absolute;
  display: flex;
  margin-right: 20px;
  right: 0;
  top: 25px;
}

.noListStyle > li {
  margin: 0 6px;
  font-size: 11px;
  font-weight: 300;
  list-style: none;
  color: #97a1f8;
}

.header .container {
  display: flex;
  height: 65px;
  line-height: 65px;
  padding: 0 15px;
  flex-direction: row;
  box-shadow: 0 1px 2px 0 rgba(40, 50, 60, 0.2);
}

img {
  width: 65%;
  height: 65%;
  object-fit: contain;
}

.container .header-logo {
  margin-top: 8px;
  width: 15%;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: black;
}

.container nav {
  width: 70%;
  height: inherit;
}

nav .menu {
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
}

.menu > li {
  font-size: 14px;
  font-weight: 400;
  list-style: none;
}

/* under code will go responsive */

@media (max-width: 1024px) {
  .container .header-logo {
    font-size: 20px;
  }

  nav .menu {
    margin: 0 70px;
  }

  .menu > li {
    font-size: 13px;
  }
  img {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .header {
    height: 110px;
    line-height: 55px;
  }

  .header .container {
    flex-direction: column;
    line-height: 50px;
  }

  .auth > li {
    margin: 0 6px;
    font-size: 11px;
  }

  .container .header-logo {
    width: 100%;
    height: 55px;
    font-size: 22px;
  }

  .container nav {
    height: 55px;
    width: 100%;
  }

  nav .menu {
    width: auto;
    margin: 0 50px;
  }

  .menu > li {
    font-size: 12.5px;
  }
  img {
    width: 70%;
    height: 70%;
    object-fit: contain;
  }
}

@media (max-width: 576px) {
  .container nav {
    width: 100%;
    height: 50px;
  }

  nav .menu {
    margin: 0 15px;
  }
  .header .container {
    height: 70px;
    line-height: 50px;
  }

  .container .header-logo {
    width: 100%;
    height: 58px;
    font-size: 20px;
  }

  .menu > li {
    font-size: 11px;
  }

  .noListStyle {
    margin-left: 8px;
    position: absolute;
    display: flex;
    right: 0;
    top: 25px;
  }

  .noListStyle > li {
    margin: 0 6px;
    font-size: 8px;
    font-weight: 300;
    list-style: none;
    color: #97a1f8;
  }

  img {
    width: 60%;
    height: 60%;
    object-fit: contain;
  }
}

a:link {
  color: #978cf8;
  text-decoration: none;
}

a:visited {
  color: #978cf8;
  text-decoration: none;
}

.menu a:visited {
  color: #333;
}
