* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 1040;
  background-color: white;
}

.noListStyle {
  position: absolute;
  display: flex;
  margin-right: 20px;
  right: 0;
  top: 25px;
}

.noListStyle > li {
  margin: 0 10px;
  font-size: 12px;
  font-weight: 300;
  list-style: none;
  color: #50bcdf;
}

.header .container {
  display: flex;
  height: 65px;
  line-height: 65px;
  padding: 0 15px;
  flex-direction: row;
  box-shadow: 0 1px 2px 0 rgba(40, 50, 60, 0.2);
}

a:link {
  color: #50bcdf;
  text-decoration: none;
}
a:visited {
  color: #50bcdf;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.container .header-logo {
  width: 15%;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: #50bcdf;
}

.container nav {
  width: 70%;
  height: inherit;
}

nav .menu {
  margin: 0 130px;
  display: flex;
  justify-content: space-between;
}

.menu > li {
  font-size: 14px;
  font-weight: 400;
  list-style: none;
}

/* under code will go responsive */

@media (max-width: 1024px) {
  .container .header-logo {
    font-size: 20px;
  }

  nav .menu {
    margin: 0 100px;
  }

  .menu > li {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 110px;
    line-height: 55px;
  }

  .header .container {
    flex-direction: column;
  }

  .auth > li {
    margin: 0 6px;
    font-size: 11px;
  }

  .container .header-logo {
    width: 100%;
    height: 55px;
    font-size: 22px;
  }

  .container nav {
    height: 55px;
    width: 100%;
  }

  nav .menu {
    width: auto;
    margin: 0 50px;
  }

  .menu > li {
    font-size: 12.5px;
  }
}

@media (max-width: 576px) {
  nav .menu {
    margin: 0 20px;
  }

  .header .container {
    height: 70px;
    line-height: 68px;
  }

  .container .header-logo {
    width: 100%;
    height: 58px;
    font-size: 20px;
  }

  .menu > li {
    font-size: 11px;
  }

  .header .auth {
    top: 30px;
    margin-right: 10px;
  }

  .auth > li {
    margin: 0 6px;
    font-size: 10px;
  }
}
