body {
  margin: 0;
  font-family: "NotoSans KR";
}

@font-face {
  font-family: "NotoSans KR";
  font-weight: 300;
  font-display: fallback;
  src: local("NotoSans KR"),
    url("./fonts/NotoSansKR-Light.otf") format("opentype");
}

@font-face {
  font-family: "NotoSans KR";
  font-weight: 500;
  font-display: fallback;
  src: local("NotoSans KR"),
    url("./fonts/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: "NotoSans KR";
  font-weight: 700;
  font-display: fallback;
  src: local("NotoSans KR"),
    url("./fonts/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
  font-family: "NotoSans KR";
  font-weight: 900;
  font-display: fallback;
  src: local("NotoSans KR"),
    url("./fonts/NotoSansKR-Bold.otf") format("opentype");
}
